@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <center>
        <h1>Selamat Datang Di Warunk U Huy</h1>
    </center>
    <br />
    <br />
   
    <div class="container">

        <div id="mySlideshow3" class="carousel slide mb-3" data-ride="carousel">

            <!-- Slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/css/caroselkuah.jpg" alt="Slide 1" height="500">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/css/caroselpisang.jpg" alt="Slide 2" height="500">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/css/caroselgoreng.jpg" alt="Slide 3" height="500">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#mySlideshow3" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#mySlideshow3" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>

        </div>

    </div>
    <br>
    <h1>Mau pesen apa?</h1>
    <br>
    <br>

    <h3>MAKANAN</h3>
    <br>

    <div class="row row-cols-1 row-cols-md-4 g-5">
        <div class="col">
            <div class="card h-100">
                <img src="~/css/miegoreng.jpg" class="card-img-top" alt="...">
                <b><p class="card-text" style="background-color:antiquewhite">Rp. 15.000</p></b>
                <div class="card-body">
                    <h5 class="card-title">INDOMIE GORENG</h5>
                    <p class="card-text">Mie Goreng Dengan Isian Kornet Dan Telor</p>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/css/miekuah.jpg" class="card-img-top" alt="...">
                <b><p class="card-text" style="background-color:antiquewhite">Rp. 15.000</p></b>
                <div class="card-body">
                    <h5 class="card-title">INDOMIE KUAH</h5>
                    <p class="card-text">Mie Kuah Dengan Isian Kornet Dan Telor</p>
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/css/nasigoreng.jpg" class="card-img-top" alt="...">
                <b><p class="card-text" style="background-color:antiquewhite">Rp. 18.000</p></b>
                <div class="card-body">
                    <h5 class="card-title">NASI GORENG</h5>
                    <p class="card-text">Nasi Goreng Dengan Sayur Isian Ayam + Sosis/Baso + Telur</p>
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/css/cirengisi.jpg" class="card-img-top" alt="...">
                <b><p class="card-text" style="background-color:antiquewhite">Rp. 20.000</p></b>
                <div class="card-body">
                    <h5 class="card-title">CIRENG ISI</h5>
                    <p class="card-text">Cireng Dengan Isian Ayam Suwir Pedas</p>
                     
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="row row-cols-1 row-cols-md-4 g-5">
        <div class="col">
            <div class="card h-100">
                <img src="~/css/pancong.jpg" class="card-img-top" alt="...">
                <b><p class="card-text" style="background-color:antiquewhite">Rp. 12.000</p></b>
                <div class="card-body">
                    <h5 class="card-title">PANCONG</h5>
                    <p class="card-text">Pancong Matang/Setengah Matang Dengan Topping Keju Dan Cerres</p>
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/css/rotibakar.jpg" class="card-img-top" alt="...">
                <b><p class="card-text" style="background-color:antiquewhite">Rp. 10.000</p></b>
                <div class="card-body">
                    <h5 class="card-title">ROTI BAKAR</h5>
                    <p class="card-text">Roti Bakar Dengan Topping Cerres Dan Susu</p>
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/css/cirengrujak.jpg" class="card-img-top" alt="...">
                <b><p class="card-text" style="background-color:antiquewhite">Rp. 16.000</p></b>
                <div class="card-body">
                    <h5 class="card-title">CIRENG RUJAK</h5>
                    <p class="card-text">Cireng Dengan Bumbu Cocol Rujak</p><br />
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/css/pisangkeju.jpg" class="card-img-top" alt="...">
                <b><p class="card-text" style="background-color:antiquewhite">Rp. 14.000</p></b>
                <div class="card-body">
                    <h5 class="card-title">PISANG KEJU COKLAT</h5>
                    <p class="card-text">Pisang Goreng Dengan Topping Keju Dan Susu Coklat</p>
                     
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>


    <br>
    <h3>MINUMAN</h3>
    <br>

    <div class="row row-cols-1 row-cols-md-4 g-5">
        <div class="col">
            <div class="card h-100">
                <img src="~/css/susu.jpg" class="card-img-top" alt="...">
                <b><p class="card-text" style="background-color:antiquewhite">Rp. 6.000</p></b>
                <div class="card-body">
                    <h5 class="card-title">SUSU</h5>
                    <p class="card-text">Hot/Ice Susu Vanila Polos</p><br />
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/css/sodagembira.jpg" class="card-img-top" alt="...">
                <b><p class="card-text" style="background-color:antiquewhite">Rp. 12.000</p></b>
                <div class="card-body">
                    <h5 class="card-title">SODA GEMBIRA</h5>
                    <p class="card-text">Berbagai Sirup Dengan Campuran Soda Dan Susu</p>
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/css/esjeruk.jpg" class="card-img-top" alt="...">
                <b><p class="card-text" style="background-color:antiquewhite">Rp. 10.000</p></b>
                <div class="card-body">
                    <h5 class="card-title">JERUK</h5>
                    <p class="card-text">Hot/Ice Jeruk Peras</p><br />
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/css/esteh.jpg" class="card-img-top" alt="...">
                <b><p class="card-text" style="background-color:antiquewhite">Rp. 8.000</p></b>
                <div class="card-body">
                    <h5 class="card-title">TEH</h5>
                    <p class="card-text">Hot/Ice Teh Manis</p><br />
                     
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
